@import "colors.css";

/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  border-radius: 12px;
  min-height: 0;
  margin: 0px;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window {
  padding: 12px;
}

/* the whole window */
window#waybar {
  background-color: rgba(30, 35, 38, 0.6);
  border-radius: 0;
  opacity: 1;
  color: #fff4d2;
  padding: 12px;
}

window#waybar.hidden {
  opacity: 1;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  background: #282828;
  margin: 5px 5px 5px 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 16px;
  font-weight: normal;
  font-style: normal;
}
#workspaces button {
  padding: 0px 5px;
  border-radius: 16px;
  color: @secondary;
}

#workspaces button.persistent {
  color: @primary;
}

#workspaces button.empty {
  color: @inverse_surface;
}

#workspaces button.visible {
  color: @tertiary;
}

#workspaces button.active {
  color: @primary;
}

#workspaces button:hover {
  color: black;
}

#workspaces button.urgent {
  color: @error;
}

/* ================================ */
/*            window                 */
/* ================================ */

#window {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: @secondary;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
  border-radius: 12px;
  margin: 8px 8px 8px 0px;
}

#window {
  border-radius: 12px;
}

/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
  padding: 0 6px;
  background: #1e2326;
}

/* ================================ */
/*            disk                 */
/* ================================ */

#disk {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: #e67e80;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
  border-radius: 12px;
  margin: 8px 8px 8px 0px;
}

/* ================================ */
/*            cpu                  */
/* ================================ */
#cpu {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: #e69875;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
  margin: 8px 8px 8px 0px;
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: #dbbc7f;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
  margin: 8px 8px 8px 0px;
}

#temperature.critical {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: #cc241d;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#backlight {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: #dbbc7f;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
  margin: 8px;
  margin: 8px 8px 8px 0px;
}

/* ================================ */
/*            memory                */
/* ================================ */
#memory {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: #d0a2cc;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
  margin: 8px;
  margin: 8px 8px 8px 0px;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: #a7c080;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
  margin: 8px 8px 8px 0px;
}

#pulseaudio.muted {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: #a7c080;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: #83c092;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
  margin: 8px 8px 8px 0px;
}

#battery.critical {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: #83c092;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
}

#battery.warning {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: #83c092;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
}

/* ================================ */
/*            clock                 */
/* ================================ */
#clock {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  color: @primary;
  background: #1e2326;
  padding-right: 4px;
  border: 3px solid #1e2326;
  border-radius: 12px;
  margin: 8px 8px 8px 0px;
}

/* ================================ */
/*            Language                 */
/* ================================ */
#language {
  font-family: JetBrainsMono Nerd Font Propo;
  background: #1e2326;
  color: #bae6fd;
  padding-right: 10px;
  border-radius: 12px;
  margin: 8px 8px 8px 0px;
}
